<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W_API_KEY</key>
	<string>44a65013c01edacb6555ca3cc8d94052</string>
	<key>M_API_KEY</key>
	<string>de4b1c4e1264e6a4f93519f266a831f3</string>
</dict>
</plist>
